# Node modules
node_modules/

# Fichiers de build / compilés
dist/
build/
bundle.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.temp

# TypeScript
*.tsbuildinfo

# Optional: coverage reports
coverage/
TypeScript/task_1/node_modules/.bin/ansi-html
